.navigation {
    width: 100%;
    background: var(--theme-color);
    text-align: center;
    font-size: 0;
}

.navigation .hamburger {
    display: none;
}

.navigation ul {
    display: inline-block;
}

.navigation ul li {
    float: left;
    list-style: none;
}

.navigation ul li a {
    background: var(--theme-light);
    padding: 10px 32px;
    display: block;
    color: var(--theme-color);
    font-size: 16px;
    font-weight: 500;
}

.navigation ul li a:hover {
    background: #a6192e;
    color: #fff;
}

.navigation ul li a.active, .navigation ul li a.active:hover {
    background: #fff;
    color: var(--theme-color);
}

@media screen and (max-width: 1023px) {
    .navigation {
        z-index: 99;
    }
    .navigation .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 99;
        display: block;
        padding: 16px;
        background: var(--theme-color);
        cursor: pointer;
    }
    .navigation .hamburger .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        display: block;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
    .hamburger:hover {
        cursor: pointer;
    }
    .hamburger.is-active .line:nth-child(2) {
        opacity: 0;
    }
    .hamburger.is-active .line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    .navigation ul {
        display: block;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        padding-top: 65px;
        background: var(--theme-color);
        display: block;
        text-align: left;
    }
    .navigation ul li {
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    }
}