<nav>
  <div class="navigation">
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <ul>
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Jouw reis
        </a>
      </li>
      <li><a routerLink="/price" routerLinkActive="active">Prijs</a></li>
      <li><a routerLink="/tips" routerLinkActive="active">Tips</a></li>
      <li><a routerLink="/hotels" routerLinkActive="active">Hotels</a></li>
      <li><a routerLink="/info" routerLinkActive="active">Info</a></li>
      <li><a routerLink="/route" routerLinkActive="active">Route</a></li>
    </ul>
  </div>
</nav>
