<section class="exclwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-12">
        <h2><span>NIET INBEGREPEN</span></h2>
        <ul class="dash-style-list">
          <li *ngFor="let str of excludedStrings">
            {{ str.name }}
          </li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-6 col-12 bg-gray-color">
        <p>
          Bij deze jouw reisvoorstel Vietnam, voor jou op maat ontworpen. Loop er op je gemak doorheen en ik neem een dezer dagen contact op om het voorstel door te nemen. Bel of mail gerust bij vragen!
        </p>
      </div>
    </div>
  </div>
</section>
