header {
  background: var(--theme-light);
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

header .logo {
  padding: 10px 20px;
  width: 200px;
  margin: 0 auto;
  background: var(--theme-color);
}

@media screen and (max-width: 767px) {
  header {
    background: none;
  }
  header .logo {
    width: 150px;
    margin: 0;
  }
}