<section>
  <div class="hero youtube-video">
    <div class="youtube-wrapper">
      <vtb-youtube
        [dataSource]="'https://www.youtube.com/watch?v=Ioq1u3VvWRk'"
        [controls]="false"
        [autoplay]="false"
        [loop]="true"
        [fullscreen]="true"
      ></vtb-youtube>
    </div>
    <div class="vdotxt">
       <h1>{{ heroTitle }}</h1>
      <h2><span>15-daagse reis</span> 2 Personen</h2> 


      <!-- <vtb-text *ngIf="itinerary.title" [config]="{ name: 'title', tag: 'h2', class: 'vtb-title' }" [dataSource]="itinerary"></vtb-text>
    <vtb-text *ngIf="itinerary.subTitle" [config]="{ name: 'subTitle', tag: 'h1', class: 'vtb-sub-title' }" [dataSource]="itinerary"></vtb-text> -->

    
    </div>
  </div>
</section>
