<section>
  <div class="hero youtube-video">
    <div class="youtube-wrapper">
      <!--
      <vtb-youtube
        [dataSource]="'https://www.youtube.com/watch?v=Ioq1u3VvWRk'"
        [controls]="false"
        [autoplay]="false"
        [loop]="true"
        [fullscreen]="true"
      ></vtb-youtube>
      -->
      <!-- <img [src]="coverImage"> -->
      <img class="banner-cover" src="assets/images/Vietnam, Ninh Binh headerimage 1300 x 450.jpg" />
    </div>
    <div class="vdotxt">
       <h1>{{ heroTitle }}</h1>
      <h2><span>{{ title }}</span> {{ subTitle }}</h2> 


      <!-- <vtb-text *ngIf="itinerary.title" [config]="{ name: 'title', tag: 'h2', class: 'vtb-title' }" [dataSource]="itinerary"></vtb-text>
    <vtb-text *ngIf="itinerary.subTitle" [config]="{ name: 'subTitle', tag: 'h1', class: 'vtb-sub-title' }" [dataSource]="itinerary"></vtb-text> -->

    
    </div>
  </div>
</section>
