<section class="destwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-12">
        <h2><span>ONZE BESTEMMINGEN</span></h2>
        <div class="mapcont bg-lightgray-color">
          <p>
            Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
            gravida. Risus commodo viverra maecenas accumsan lacus vel
            facilisis. Mauris ante tortor adipiscing at porta tem pus commodo
            vel ipsum. Nam elemen tum tellus interdum consectetur venenatis
            diam.Quam eleifend risus natoque.Porumet, que nobisqui re lam,
            comnimporemo excepelis num fugitat del illique vel ium que num fuga.
            Tatus esequid quae. Ic tecti beaquas perecta ipit quibustiam ressero
            et autatur, ne re praereium est voluptum ut mod ute cus ex eos ea
            evero volut im aut as dolent.
          </p>
          <img src="https://via.placeholder.com/800x300" alt="" title="" />
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-12">
        <h2><span>ONZE BESTEMMINGEN</span></h2>
        <div class="destlist">
          <ul>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Mauris</li>
            <li>Esequid Suspendisse</li>
            <li>Quam Mauris</li>
            <li>Lorem</li>
            <li>Ipsum</li>
            <li>Mauris Excepelis</li>
            <li>Esequid</li>
            <li>Suspendisse</li>
            <li>Lorem</li>
            <li>Ipsum Mauris</li>
            <li>Mauris</li>
            <li>Esequid</li>
            <li>Excepelis</li>
            <li>Lorem Ipsum</li>
            <li>Ipsum</li>
            <li>Mauris</li>
            <li>Esequid</li>
            <li>Quam</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
