<section class="map-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="map-info-heading"> 
                    <h2>REISSCHEMA</h2>
                  <div class="map-info-list"> 
                      <ul>
                        <li>
                          <span>Dag 1</span> Eerste dagen in Ho Chi Minh City 
                        </li>
                        <li>
                          <span>Dag 2</span> Ho Chi Minh City, bezichtiging
                        </li>
                        <li>
                          <span>Dag 3</span> Ho Chi Minh City, accommodatie GK Central hotel (superior room)
                        </li>
                        <li>
                          <span>Dag 4</span> Mytho, boottocht, lunch & wandeling, naar Can Tho, accommodatie Hau Giang
                        </li>
                        <li>
                          <span>Dag 5</span> Cai Rang, terug naar Ho Chi Minh City, accommodatie GK
                        </li>
                        <li>
                          <span>Dag 6</span> Danang, transfer naar Hoi’An, accommodatie Vinh Hung 
                        </li>
                        <li>
                          <span>Dag 7</span> Vinh Hung Library hotel
                        </li>
                        <li>
                          <span>Dag 8</span> Vinh Hung Library hotel
                        </li>
                        <li>
                          <span>Dag 9</span> Hué, accommodatie 
                        </li>
                        <li>
                          <span>Dag 10</span> Hué, accommodatie Midtown hotel
                        </li>
                        <li>
                          <span>Dag 11</span> Hanoi, ‘s avonds vertrek per nachttrein naar Hanoi
                        </li> 
                        <li>
                          <span>Dag 12</span> Hanoi, direct inchecken in de kamer, vrije dag, 
                        </li>
                        <li>
                          <span>Dag 13</span> Myanmar, accommodatie Hanoi Meracus Hotel 2 (deluxe room) 
                        </li>
                        <li>
                          <span>Dag 14</span> Laos, ‘s avonds vertrek vanuit Hanoi met de nachttrein naar Sapa 
                        </li>
                        <li>
                          <span>Dag 15</span> Lao Cai, privé-transfer naar Sapa, accommodatie Elite hotel 
                        </li>
                      </ul>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>