<section class="map-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="map-info-heading"> 
                    <h2>REISSCHEMA</h2>
                  <div class="map-info-list"> 
                      <ul>
                        <li *ngFor="let title of titles">
                          <span>Dag {{ title.day }}</span> {{ title.title }} 
                        </li>
                      </ul>
                  </div>
              </div>
            </div>
        </div>
    </div>
</section>