.geninfowrap {
  background: #fff;
}

.geninfowrap [class*="col-"] {
  padding-top: 50px;
}

.geninfowrap h4 {
  font-size: 18px;
  font-weight: 300;
}

.noteinfo {
  background: #e7dcdf;
  padding: 10px 15px;
  color: #a6192e;
  position: relative;
}

.genpara {
  margin-bottom: 30px;
}

.noteinfo h5 {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}

.noteinfo p {
  color: #a6192e;
  padding: 0;
  margin: 0;
}

.noteinfo:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  width: 15px;
  height: 100%;
  background: #e7dcdf;
}

.noteinfo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 15px;
  height: 100%;
  background: #e7dcdf;
}

.listwrap {
  background: #efeff0;
}

.ticklist li {
  list-style: none;
  padding-left: 50px;
  position: relative;
}

.ticklist li + li {
  margin-top: 20px;
}

.ticklist li:before {
  content: "\2713";
  position: absolute;
  top: 0;
  left: 0;
  color: #a6192e;
  font-weight: 600;
  padding: 5px 8px;
  line-height: 20px;
  font-size: 20px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #a6192e;
}

.listwrap .col-md-8 {
  padding-bottom: 30px;
}
.listwrap .col-md-4 {
  padding: 0;
}

.listwrap .col-md-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
