<section class="geninfowrap">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-12 d-flex align-items-end flex-column">
        <div class="genpara">
          <h2><span>Vietnam Info</span></h2>
          <h4>Informatie over Vietnam</h4>
          <p>
            Graag maken we je attent op onze landeninformatie Vietnam. Met deze
            informatie laten we je alvast een beetje kennis maken met Vietnam,
            we bieden informatie over de mogelijkheden tijdens je reis en
            praktische informatie over het klimaat, visa, geldzaken, inentingen
            etc.
          </p>
          <div class="noteinfo mt-auto">
            <h4>Verzekeringen</h4>
            <p>
              We raden je aan om een goede verzekering af te sluiten. Voor de
              uitgebreide informatie over onze Allianz Global Assistance reis- en
              annuleringsverzekeringen kun je hier kijken. Via de online-module
              van OutSight & Allianz kun je eenvoudig zelf vrijblijvend een
              premieberekening maken (en eventueel de verzekering afsluiten)! Neem
              contact met ons op indien je hier nog vragen over hebt.
            </p>
          </div>
          <h4 class="mt-20">Boekingsvoorwaarden</h4>
          <p>
            Graag maken we je attent op onze reisvoorwaarden, deze kun je
            terugvinden op onze website via deze link. Hier lees je ook meer
            informatie over de manier waarop we werken, de betalingsvoorwaarden,
            onze contactgegevens en het OutSight-team! Visumplicht voor Vietnam!
            Hierbij maken we je attent op het visum dat verplicht is voor
            Vietnam. Vergeet niet om zelf dit visum aan te vragen. De informatie
            over het aanvragen van je visum vind je in onze Visuminformatie
            Vietnam.
          </p>
        </div>
        <div class="noteinfo mt-auto">
          <h5>Visum verplicht voor Vietnam</h5>
          <p>
            Hierbij maken we je attent op het visum. Vergeet niet om zelf dit
            visum aan te vragen. De informatie over visuminformatie kunt u hier
            vinden Visuminformatie Vietnam.
          </p>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-6 col-12 bg-theme-color">
        <h2><span>OP REIS</span></h2>
        <p>
          Dgravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          Mauris ante tortor adipiscing at porta tem pus commodo vel ipsum. Nam
          elemen tum tellus interdum consectetur venenatis diam.Quam eleifend
          risus natoque.Porumet, que nobisqui re lam, comnimporemo.
        </p>
        <p>
          Dgravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
          Mauris ante tortor adipiscing at porta tem pus commodo vel ipsum. Nam
          elemen tum tellus interdum consectetur venenatis diam.Quam eleifend
          risus natoque.Porumet, que nobisqui re lam, comnimporemo excepelis num
          fugitat del illique vel ium que num fuga.
        </p>
        <p>
          Tatus esequid quae. Ic tecti beaquas perecta ipit quibustiam ressero
          et autDgravida. Risus commodo viverra maecenas accumsan lacus vel
          facilisis.
        </p>
        <p>Mauris ante tortor adipiscing at porta tem pus commodo vel ipsum.</p>
      </div> -->
    </div>

    <div class="row listwrap flex-row-reverse align-items-center">
      <div class="col-md-4 col-sm-6 col-12">
        <img src="https://media.outsight.nl/original/original/InfoVietnam-.jpg" alt="" title="" />
      </div>
      <div class="col-md-8 col-sm-6 col-12">
        <ul class="ticklist">
          <li>
            Ontwerp samen met je reisexpert je perfecte persoonlijke reis
          </li>
          <li>
            Al 20 jaar onvergetelijk en verrassend
          </li>
          <li>
            Onbezorgd reizen, alles geregeld
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
