<section class="travel-even">
  <div class="container">
      <div class="row remove-spacing">
          <div class="col-md-8 align-items-center">
              <div class="tavel-even-heading">
                  <h2>
                    <span class="d-block">OP REIS </span>
                    MAAR DAN NET EVEN ANDERS</h2>
              </div>
              <div class="tavel-even-info">
                  <h2>general text about  <span>OutSight</span></h2>
                  <p>
                    Al 20 jaar lang laten wij reizigers de mooiste plekken op de wereld ontdekken. Met de vrijheid & flexibiliteit om je eigen reis te beleven én met het comfort dat de rest geregeld is. Ga beleven, kijken, proeven en ontmoeten!
                    Onze missie is om van jouw kennismaking met andere culturen een onvergetelijke, persoonlijke ervaring te maken. Dat doen we vanuit ons hart: reizen is onze passie. We zoeken de kleine momenten, naast de hoogtepunten, die je reis bijzonder maken. En we regelen het voor je, zodat onderweg maximaal kunt gaan genieten!
                  </p>
              </div>
          </div>
          <div class="col-md-4 text-center">
                <div class="main-parent-person">
                        <div class="trvel-person">
                            <div class="travel-person-img">
                                <img src="assets/images/simone.jpg"  class="img-fluid" />
                            </div>
                        </div>
                        <div class="travel-person-info align-self-center">
                            <p>
                            “Reizen maakt je rijker! Het is dat fantastische gevoel dat je iets beleeft, dat je geraakt wordt.”
                            </p>
                    </div>
                </div>
          </div>
      </div>
  </div>
</section>