<section class="travel-even">
  <div class="container">
      <div class="row remove-spacing">
          <div class="col-md-8 align-items-center">
              <div class="tavel-even-heading">
                  <h2>
                    <span class="d-block">OP REIS </span>
                    MAAR DAN NET EVEN ANDERS</h2>
              </div>
              <div class="tavel-even-info">
                  <h2>JOUW REISSPECIALIST <span>FLORINE PASTOORS</span></h2>
                  <p>
                      Florine heeft haar HTRO diploma behaald bij INHolland Diemen, en is, met haar diploma op zak, daarna vijf maanden gaan backpacken door Azië. Tijdens deze reis heeft Florine zes verschillende landen bezocht: Thailand, Vietnam, Maleisië (Borneo), de Filipijnen, Japan en Myanmar. Ook heeft Florine reizen gemaakt naar Costa Rica, Indonesië en de westkust van Amerika. In 2016 heeft Florine een reis naar Mexico gemaakt, in 2017 was ze in Laos & Cambodja, in 2018 in Sri Lanka én Brazilie. Voor 2019 staat Zuid-Afrika in de planning, en verder staat Colombia bovenaan het verlanglijstje van Florine.
                  </p>
              </div>
          </div>
          <div class="col-md-4 text-center">
                <div class="main-parent-person">
                        <div class="trvel-person">
                            <div class="travel-person-img">
                                <img src="https://via.placeholder.com/150x150"  class="img-fluid" />
                            </div>
                        </div>
                        <div class="travel-person-info align-self-center">
                            <p>
                            “Reizen is zó verslavend, 
                            telkens weer nieuwe prikkels en
                            onbekende landen ontdekken.
                            Dát wil ik onze reizigers ook
                            laten ervaren!”
                            </p>
                    </div>
                </div>
          </div>
      </div>
  </div>
</section>