<footer>
  <div class="container">
    <div class="footerwrap d-md-flex">
      <div class="footerlogo col-md-3 col-12 align-self-center">
        <img src="assets/images/logo-outsight.png" alt="" title="" />
      </div>
      <div class="footertag col-md-6 col-12 d-md-flex text-center">
        <img
          src="https://via.placeholder.com/500x50"
          class="align-self-center"
          alt=""
          title=""
        />
      </div>
      <div class="footertext col-md-3 col-12 align-self-center">
        <h4>VIETNAM</h4>
        <h5><span>15-daagse reis</span> 2 Personen</h5>
      </div>
    </div>
  </div>
</footer>
