<footer>
  <div class="container">
    <div class="footerwrap d-md-flex">
      <div class="footerlogo col-md-3 col-12 align-self-center">
        <img src="assets/images/logo-outsight.png" alt="" title="" />
      </div>
      <div class="footertag col-md-6 col-12 d-md-flex text-center">
        <img
          src="assets/images/footer.png"
          class="align-self-center"
          alt=""
          title=""
        />
      </div>
      <div class="footertext col-md-3 col-12 align-self-center">
        <ul>
          <li>
            <a href="https://twitter.com/OutSightTravel" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="https://www.facebook.com/OutSightTravel" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/outsight.travel/" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
