footer {
    background: var(--theme-color);
}

footer .container {
    max-width: 100% !important;
    padding: 0;
}

.footerwrap>div {
    padding: 30px 30px;
}

.footertag {
    background: #a6192e;
}

.footertag img {
    display: block;
    margin: 0 auto;
}

.footertext h4 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.footertext h5 {
    color: #fff;
    font-size: 14px;
}

.footertext h5 span {
    display: inline-block;
    margin-right: 10px;
}

.footertext ul li {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

.footertext ul li a {
    display: block;
    font-size: 18px;
    line-height: 38px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    text-align: center;
}