.infowrap {
    background: #fff;
}

.infowrap h2 {
    background: #e1e1e6;
    margin-bottom: 0;
    padding: 10px 15px;
    margin-left: -15px;
    margin-right: -15px;
}

.infowrap [class*="col-"] {
    padding: 0;
}

.infowrap .bg-theme-color {
    padding: 15px;
}