<section>
  <div class="infowrap">
    <div class="container">
      <h2>Verrassend Vietnam!</h2>
      <div class="row flex-row-reverse align-items-stretch">
        <div class="col-md-8 col-sm-6 col-12">
          <img
            src="https://media.outsight.nl/original/original/info.JPG"
            class="fitimg"
            alt=""
            title=""
          />
        </div>
        <div class="col-md-4 col-sm-6 col-12 bg-theme-color info-content">
          <p [innerHTML] ="general">
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
