.extra {
    background: rgba(255, 255, 255, 0.8);
}

.extra [class*="col-"] {
    padding: 0;
}

.extra img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.extra [class*="col-"].extracont {
    padding: 30px 15px;
}