<section class="extra">
  <div class="container">
    <div class="row align-items-stretch">
      <div class="col-md-8 col-sm-6 col-12">
        <img
          alt=""
          class="fitimg"
          src="https://via.placeholder.com/600x200"
          title=""
        />
      </div>
      <div class="col-md-4 col-sm-6 col-12 bg-light-color extracont">
        <h3>EXTRA</h3>
        <p>
          re et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
          Risus commodo viverra maecenas accumsan lacus vel facilisis. Mauris
          ante tortor adipiscing at porta tem pus commodo vel ipsum. Nam elemen
          tum tellus interdum consectetur venenatis diam.Quam eleifend risus
          natoque.Porumet, que nobisqui re lam, comnimporemo excepelis num
          fugitat del illique vel ium que num fuga. Tatus esequid quae. Ic tecti
          beaquasdolent.
        </p>
      </div>
    </div>
  </div>
</section>
