.costwrap {
    background: #fff;
}

.costwrap [class*="col-"] {
    padding: 30px;
}

.costwrap table tr td {
    min-width: 100px;
    padding: 10px;
    vertical-align: bottom;
}

.costwrap table tr td:last-of-type {
    text-align: right
}

.costwrap table tr:last-of-type td:last-of-type {
    border-top: 1px solid #fff;
}