<section>
  <div class="costwrap">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-md-4 col-sm-6 col-12 bg-theme-color">
          <h2><span>PRIJS</span></h2>
          <table>
            <tr>
              <td>Landarrangement</td>
              <td>€ 1832</td>
            </tr>
            <tr>
              <td>luchtprijs incl. luchthavenbelastingen</td>
              <td>€ 829</td>
            </tr>
            <tr>
              <td>Totaalprijs</td>
              <td>€ 2661</td>
            </tr>
          </table>
        </div>
        <div class="col-md-8 col-sm-6 col-12">
          <h2><span>DE KOSTEN VOOR UW REIS</span></h2>
          <p>
            Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
            gravida. Risus commodo viverra maecenas accumsan lacus vel
            facilisis. Mauris ante tortor adipiscing at porta tem pus commodo
            vel ipsum. Nam elemen tum tellus interdum consectetur venenatis
            diam.Quam eleifend risus natoque.Porumet, que nobisqui re lam,
            comnimporemo excepelis num fugitat del illique vel ium que num fuga.
            Tatus esequid quae. Ic tecti beaquas perecta ipit quibustiam ressero
            et autatur, ne re praereium est voluptum ut mod ute cus ex eos ea
            evero volut im aut as dolent.
          </p>
          <p>
            Mauris ante tortor adipiscing at porta tem pus commodo vel ipsum.
            Nam elemen tum tellus interdum consectetur venenatis diam.Quam
            eleifend risus natoque.Porumet, que nobisqui re lam,
            comnimporeMauris ante tortor adipiscing at porta tem.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
