<section class="inclwrap">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-12 incldesc">
        <h2><span>INBEGREPEN</span></h2>
        <ul class="dash-style-list">
          <li>
            Heenvlucht naar Ho Chi Minh City vanaf Amsterdam en terug vanaf
            Hanoi, er Vietnam Airlines incl. € 337,- luchthavenbelastingen.
          </li>
          <li>
            Trein-, vlieg- en bustickets zoals genoemd in het reisvoorstel
            (vliegtickets incl. 20 kilo ruimbagage)
          </li>
          <li>Hotelovernachtingen op basis van logies & ontbijt.</li>
          <li>
            Tijdens ‘De drijvende markten van de Mekong’: vervoer per A/C bus in
            internationale groep, boottochten & bezoek aan Drijvende Markt,
            Engelssprekende gids, lunch op dag 1, hotelovernachting in eenvoudig
            hotel inclusief ontbijt.
          </li>
          <li>
            Tijdens ‘Rijstterrasssen en Bergstammen bij Sapa’: treinticket Hanoi
            - Lao Cai (retour), privétransfer Lao Cai - Sapa (retour).
          </li>
          <li>
            Tijdens ‘Halong Bay boottocht’: retourtransfer Halong City (met
            internationaal gezelschap), Engelssprekende gids, entree Halong Bay,
            overnachting op boot incl. ontbijt, lunch op dag 1 en 2.
          </li>
        </ul>
      </div>

      <div class="col-md-4 col-sm-6 col-12 bg-gray-color guidesec" *ngFor="let c of finalConsultants">
        <h3>JOUW REISSPECIALIST 12<span>{{ c.name }}</span></h3>
        <img src="{{ c.picture }}" alt="" title="" />
      </div>
    </div>
  </div>
</section>
