<section>
  <div class="container flightwrap">
    <h2><span>VLUCHTSCHEMA</span></h2>
    <table class="tablelist bold">
      <tr>
        <td>Vertrek</td>
        <td>{{ departureFlight.date }}</td>
        <td>{{ departureFlight.airlineCode }}</td>
      </tr>
      <tr>
        <td>Retour in NL</td>
        <td>{{ arrivalFlight.date }}</td>
        <td>{{ arrivalFlight.airlineCode }}</td>
      </tr>
    </table>
    <!--
    <p>
      Bekijk on-line je eigen vluchtschema op de site van Vietnam Airlines
      <br />
      met je reservationcodes: KL/KVDBQI & VN/SLNCTZ
    </p>
    -->
    <table class="tablelist">
      <tr *ngFor="let f of flights">
        <td>{{ f.date }}</td>
        <td>{{ f.departureAirport }}-{{ f.arrivalAirport }}
        <td>{{ f.departureTime }}</td>
        <td>{{ f.arrivalTime }}*</td>
        <td>VN {{ f.flightNumber }} uitgevoerd door {{ f.airlineCode }}</td>
      </tr>
      <!--
      <tr>
        <td>18-apr</td>
        <td>Amsterdam-Frankfurt 09.50</td>
        <td>11.00</td>
        <td>VN 3164</td>
        <td>VN 3164 uitgevoerd door KLM</td>
      </tr>
      <tr>
        <td>18-apr</td>
        <td>Frankfurt-Ho Chi Minh City</td>
        <td>14.35</td>
        <td>07.10*</td>
        <td>VN 030 uitgevoerd door Vietnam Airlines</td>
      </tr>
      <tr>
        <td>18-apr</td>
        <td>Amsterdam-Frankfurt 09.50</td>
        <td>11.00</td>
        <td>VN 3164</td>
        <td>VN 3164 uitgevoerd door KLM</td>
      </tr>
      <tr>
        <td>18-apr</td>
        <td>Frankfurt-Ho Chi Minh City</td>
        <td>14.35</td>
        <td>07.10*</td>
        <td>VN 030 uitgevoerd door Vietnam Airlines</td>
      </tr>
      -->
    </table>
  </div>
</section>
