.flightwrap {
    padding: 60px 15px;
    background: #fff;
}

.tablelist td {
    padding: 5px 0;
    padding-right: 15px;
    vertical-align: top;
}

.flightwrap p {
    margin-top: 10px;
}

.tablelist.bold td {
    font-weight: 500;
    font-size: 18px;
    padding-right: 15px;
}

@media screen and (max-width: 767px) {
    .tablelist.bold td {
        font-size: 15px;
    }
    .tablelist td {
        padding-right: 5px;
        font-size: 10px;
        min-width: 45px;
    }
}