.tips .heading-tips{
    color: var(--theme-color);
    font-weight: 900;
    background-color: #fff;
    padding: 10px;
    
}
.tips .heading-tips h2{
    margin: 0;
}
.tips .tips-content img{
    width: 100%;
}

.tips .content-bg{
    background-color: var(--theme-light);
    padding: 20px;
    position: relative;
}
.tips .content-bg.dark{
    background-color: var(--theme-color);
}

.tips .content-bg.dark-grey{
    background-color: var(--theme-gray);
}
.tips .content-bg.light-grey{
    background-color: var(--theme-light-gray);
}

.tips .content-bg h5{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.tips .content-bg p{
    color: #fff;
}
.remove-spacing [class*="col-"] {
    padding: 0;
}

.custom-triange{
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 40px solid red;
    border-bottom: 40px solid transparent;
    position: absolute;
    right:100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

}
.custom-triange.down{
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid red;
}
.custom-triange.up{
    top: inherit;
    bottom: 100%;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid red;
    border-top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.custom-triange.content-bg-light{
    border-right-color: var(--theme-light);
}
.custom-triange.dark{
    border-right-color: var(--theme-color);
}
.custom-triange.dark-grey{
    border-top-color: var(--theme-gray);
}
.custom-triange.up.tr-bg-light{
    border-bottom-color: var(--theme-light);
}