<section>
  <div class="daywrap">
    <div class="container">
      <h2><span>LEUK OM TE DOEN</span></h2>
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-6 col-12 dayimg">
          <img src="https://via.placeholder.com/350x350" />
        </div>
        <div class="col-md-8 col-sm-6 col-12 daytext">
          <h3>MET OUTSIGHT NAAR VIETNAM</h3>
          <p>
            Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
            gravida. Risus commodo viverra maecenas
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-6 col-12 dayimg">
          <img src="https://via.placeholder.com/350x350" />
        </div>
        <div class="col-md-8 col-sm-6 col-12 daytext">
          <h3>MET OUTSIGHT NAAR VIETNAM</h3>
          <p>
            Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
            gravida. Risus commodo viverra maecenas
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-6 col-12 dayimg">
          <img src="https://via.placeholder.com/350x350" />
        </div>
        <div class="col-md-8 col-sm-6 col-12 daytext">
          <h3>MET OUTSIGHT NAAR VIETNAM</h3>
          <p>
            Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
            gravida. Risus commodo viverra maecenas
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-md-4 col-sm-6 col-12 dayimg">
          <img src="https://via.placeholder.com/350x350" />
        </div>
        <div class="col-md-8 col-sm-6 col-12 daytext">
          <h3>MET OUTSIGHT NAAR VIETNAM</h3>
          <p>
            Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
            gravida. Risus commodo viverra maecenas
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
