<section class="tips">
    <div class="container">
        <div class="row align-items-center remove-spacing ">
          <div class="col-12">
              <div class="heading-tips">
                  <h2>LEUK OM TE DOEN</h2>
              </div>
          </div>
        </div>
        <div class="row remove-spacing align-content-center">
            <div class="col-md-4">
                <div class="tips-content"> 
                    <img src="https://via.placeholder.com/350x350"  class="img-fluid" />
                </div>
            </div>
            <div class="col-md-4 align-self-stretch">
                <div class="d-flex align-items-center content-bg  h-100">
                  <div class="custom-triange content-bg-light"></div>
                  <div class="tips-content "> 
                      <h5>MET OUTSIGHT NAAR VIETNAM</h5>
                      <p>Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="tips-content"> 
                    <img src="https://via.placeholder.com/350x350"  class="img-fluid" />
                </div>
            </div>
        </div>
        <!-- second row start here  -->
        <div class="row remove-spacing align-content-center">
          <div class="col-md-4 align-self-stretch">
              <div class="d-flex align-items-center content-bg dark-grey h-100">
                  <div class="custom-triange down dark-grey"></div>
                <div class="tips-content "> 
                    <h5>MET OUTSIGHT NAAR VIETNAM</h5>
                    <p>Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                </div>
              </div>
          </div>
          <div class="col-md-4 ">
              <div class="tips-content"> 
                  <img src="https://via.placeholder.com/350x350"  class="img-fluid" />
              </div>
          </div>
          <div class="col-md-4 align-self-stretch">
              <div class="d-flex align-items-center content-bg dark h-100">
                  <div class="custom-triange dark"></div>
                <div class="tips-content "> 
                    <h5>MET OUTSIGHT NAAR VIETNAM</h5>
                    <p>Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                </div>
              </div>
          </div>
      </div>
      <!-- third row start here  -->
      <div class="row remove-spacing align-content-center">
          <div class="col-md-4">
              <div class="tips-content"> 
                  <img src="https://via.placeholder.com/350x350"  class="img-fluid" />
              </div>
          </div>
          <div class="col-md-4 align-self-stretch">
              <div class="d-flex align-items-center content-bg h-100">
                <div class="tips-content "> 
                    <h5>MET OUTSIGHT NAAR VIETNAM</h5>
                    <p>Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                </div>
              </div>
          </div>
          <div class="col-md-4 ">
              <div class="tips-content"> 
                  <img src="https://via.placeholder.com/350x350"  class="img-fluid" />
              </div>
          </div>
      </div>
      <!-- fourt row start here  -->
      <div class="row remove-spacing align-content-center">
          <div class="col-md-4 align-self-stretch">
              <div class="d-flex align-items-center content-bg light-grey h-100">
                <div class="tips-content ">
                    <h5>MET OUTSIGHT NAAR VIETNAM</h5>
                    <p>Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                </div>
              </div>
          </div>
          <div class="col-md-4 ">
              <div class="tips-content"> 
                  <img src="https://via.placeholder.com/350x350"  class="img-fluid" />
              </div>
          </div>
          <div class="col-md-4 align-self-stretch">
              <div class="d-flex align-items-center content-bg h-100">
                  <div class="custom-triange up tr-bg-light"></div>
                <div class="tips-content "> 
                    <h5>MET OUTSIGHT NAAR VIETNAM</h5>
                    <p>Dut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas </p>
                </div>
              </div>
          </div>
      </div>
    </div>
  </section>